<h1> Review for <%= @review.hike.name %> </h1><br>
By: <%= @review.user.name %>

<p>
Rating: <br><%= @review.rating %><br><br>
Content: <br><%= @review.description %><br>
</p>


<%= button_to 'Edit', edit_review_path, method: :get %>
<br>
<%= button_to 'Delete', review_path(@review), method: :delete, data: { confirm: 'Are you sure?' } %>
<br>
<%= button_to 'Back', user_path(@review.user), method: :get %>