<nav>
<%= button_to 'Home', '/', :method => "get" %><br>
<%= button_to 'Show Users', users_path, :method => "get" %> <br>
<%= button_to 'All Hikes', hikes_path, :method => "get" %>
<hr>
</nav

<div><h2> Review for <%=link_to @review.hike.name, hike_path(@review.hike) %> </h2></div>
<div><h3> By: <%=link_to @review.user.name, user_path(@review.user) %> </h3></div>

<div>
Rating: <%= @review.rating %>/5<br><br>
Content: <br><%= @review.description %><br><br>
</div>

<div>

<%= button_to 'Edit', edit_review_path, method: :get %>
<br>
<%= button_to 'Delete', review_path(@review), method: :delete, data: { confirm: 'Are you sure?' } %>
<br>


<%= button_to 'Back', user_path(@review.user), method: :get %>
</div>