<div id='desc'>
<h1>Log In... I Guess??</h1>
<hr>

<%= form_for users_path do |form| %>
    
    <%= form.label :username %>:<br>
    <%= form.text_field :username %><br>
    <%= form.label :password %>:<br>
    <%= form.password_field :password %><br><br>

    <%= form.submit 'Click Here To Break Everything' %>
    
<% end %>