<div id='desc'>
<h1> Create an Account! </h1>
<hr>

<% if flash[:errors] %>
    <h2> List of Error(s) </h2>
    <% flash[:errors].each do |error| %>
        <div id='box'><%= error %></div>
    <% end %>
    <hr>
<% end %>

<%= form_for @user do |f| %>

    <%= f.label :username %>:<br>
    <%= f.text_field :username %><br><br>
    <%= f.label :password %>:<br>
    <%= f.password_field :password %><br><br>
    <%= f.label :name %>:<br>
    <%= f.text_field :name %><br><br>
    <%= f.label :age %>:<br>
    <%= f.number_field :age %><br><br>
    <%= f.label :bio %>:<br>
    <%= f.text_area :bio, cols: 45, rows: 5 %><br><br>

    <%= f.submit %>

<% end %>

<%= button_to 'Back', '/', method: :get %>
</div>