<div id='desc'>
<h1> <%= @hike.name %> </h1>

Distance: <%= @hike.distance %> miles <br>
Elevation: <%= @hike.elevation %> meters <br>
Difficulty: <%= @hike.difficulty %> <br><br>

<hr>

<h1> List of Reviews </h1><hr>
<% @hike.reviews.each do |review| %>
     Author: <%= link_to review.user.name, user_path(review.user) %> <br><br>
     Rating: <%= review.rating %>/5 <br><br>
     Description: <br><div id='box'><%= review.description %></div>
     <hr>
<% end %>

<br><%= button_to 'Back', hikes_path, method: :get %>
</div>